body {
  box-sizing: content-box;
  margin: 60px 0px 0px 0px;
}

.locked {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

/* -------------------- navigarion */
.main-menu {
  position: fixed;
  top: 0px;
  height: 60px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1;
}

/* link menu */
.title-main-menu {
  margin: 0px 0px 0px 6%;
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 10px;
  user-select: none;
}

/* link works */
.navigation-main-works {
  margin: 0px 0px 0px 35%;
  display: inline-block;
  position: relative;
  bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  user-select: none;
}

/* link partners */
.navigation-main-partners {
  margin: 0px 0px 0px 2%;
  display: inline-block;
  position: relative;
  bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  user-select: none;
}

/* link contact */
.navigation-main-contact {
  margin: 0px 0px 0px 2%;
  display: inline-block;
  position: relative;
  bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  user-select: none;
}

/* link decoration off */
a.link-works:active,
a.link-works:hover,
a.link-works,
a.link-partners:active,
a.link-partners:hover,
a.link-partners,
a.link-contact:active,
a.link-contact:hover,
a.link-contact {
  text-decoration: none;
  color: white;
}

/* -------------------- quote-screen */
.div-quote {
  display: inline-block;
  position: relative;
  height: 1000px;
  width: 100%;
  background-color: black;
}

/* quote */
.quote {
  margin: 0;
  position: relative;
  top: 320px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 50px;
  user-select: none;
}

/* author quote */
.author-quote {
  margin: 0;
  position: relative;
  top: 320px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
  opacity: .3;
  user-select: none;
}

/* text quote */
.text-quote {
  margin: 0;
  position: relative;
  top: 820px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 30px;
  opacity: .2;
  user-select: none;
}

/* -------------------- two-screen */
.div-two-screen {
  position: relative;
  bottom: 147px;
  left: 100%;
  height: 1000px;
  width: 100%;
}

/* jpg two screen */
.img-two-screen-one {
  position: relative;
  top: 50px;
  width: 1200px;
  object-fit: cover;
}

/* jpg position = center */
.center-jpg {
  margin: 0;
  text-align: center;
  user-select: none;
}

/* jpg text */
.text-two-screen {
  margin: 0px 20% 0px 20%;
  position: relative;
  top: 70px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  user-select: none;
}

/* -------------------- three-screen */
.div-three-screen {
  position: relative;
  height: 1000px;
  bottom: 815px;
  width: 100%;
  left: 100%;
}

/* jpg position three screen */
.p-img-three-screen {
  margin: 0px;
  user-select: none;
}

/* jpg three screen */
.img-silvia1 {
  position: absolute;
  top: 50px;
  right: 15%;
  width: 400px;
  height: 900px;
  object-fit: none;
  object-position: -770px -180px;
}

/* text three screen */
.text-screen-three {
  margin: 0;
  max-width: 800px;
  position: absolute;
  left: 10%;
  top: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  user-select: none;
}

/* img2 three screen */
.img-three-sreen-2 {
  z-index: -1;
  position: absolute;
  top: 100px;
  left: 700px;
  width: 400px;
  height: 300px;
  object-fit: cover;
  opacity: .4;
}

/* img3 three screen */
.img-three-sreen-3 {
  z-index: -1;
  position: absolute;
  top: 25px;
  left: 100px;
  width: 300px;
  height: 450px;
  object-fit: cover;
  opacity: .4;
}

/* img4 three screen */
.img-three-sreen-4 {
  z-index: -1;
  position: absolute;
  top: 490px;
  left: 180px;
  width: 450px;
  height: 450px;
  object-fit: cover;
  opacity: .4;
}

/* img5 three screen */
.img-three-sreen-5 {
  z-index: -1;
  position: absolute;
  top: 590px;
  left: 850px;
  width: 340px;
  height: 290px;
  object-fit: cover;
  opacity: .4;
}

/* img6 three screen */
.img-three-sreen-6 {
  z-index: -1;
  position: absolute;
  top: 590px;
  left: 1500px;
  width: 340px;
  height: 290px;
  object-fit: cover;
  opacity: .4;
}

/* -------------------- four-screen */
.div-four-screen {
  position: relative;
  height: 1000px;
  width: 100%;
  left: 100%;
}

/* position-evo-four-screen */
.p-img-four-screen {
  z-index: 1;
  position: absolute;
  left: 11%;
  top: 630px;
  margin: 0px;
  text-align: center;
  user-select: none;
}

/* yaris-title */
.img-evo1 {
  width: 1500px;
  height: 320px;
  object-fit: cover;
  object-position: 0px -520px;
}

/* text evo */
.text-four-screen {
  position: absolute;
  left: 23%;
  top: 80px;
  text-align: center;
  width: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  user-select: none;
}

/* img1 evo */
.evo1 {
  z-index: 1;
  position: absolute;
  top: 70px;
  left: 1500px;
  width: 350px;
  height: 500px;
  object-fit: cover;
  object-position: -195px 0px;
  opacity: .4;
}

/* img2 evo */
.evo2 {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 800px;
  width: 600px;
  height: 200px;
  object-fit: cover;
  object-position: 0px -120px;
  opacity: .4;
}

/* img3 evo */
.evo3 {
  z-index: 1;
  position: absolute;
  top: 350px;
  left: 400px;
  width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: 10px -50px;
  opacity: .4;
}

/* img4 evo */
.evo4 {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  height: 450px;
  object-fit: cover;
  opacity: .4;
}

/* -------------------- five-screen */
.div-five-screen {
  position: relative;
  height: 1000px;
  width: 100%;
  left: 100%;
}

/* position image tilte */
.p-img-five-screen {
  z-index: -1;
  position: absolute;
  left: 4%;
  margin: 0px;
  user-select: none;
}

/* title img */
.img-volvo0 {
  width: 900px;
  height: 1000px;
  object-fit: cover;
  object-position: -350px 0px;
}

/* text five screen volvo */
.text-five-screen {
  position: absolute;
  left: 55%;
  top: 200px;
  margin: 0px;
  width: 800px;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  user-select: none;
}

/* img volvo1 */
.volvo1 {
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 1020px;
  width: 300px;
  height: 500px;
  object-fit: cover;
  object-position: -380px 0px;
  opacity: .4;
}

/* img volvo7 */
.volvo2 {
  z-index: -1;
  position: absolute;
  top: 570px;
  left: 1060px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: -240px 0px;
  opacity: .4;
}

/* img volvo3 */
.volvo3 {
  z-index: -1;
  position: absolute;
  top: 70px;
  left: 1350px;
  width: 550px;
  height: 250px;
  object-fit: cover;
  object-position: -95px 0px;
  opacity: .4;
}

/* img volvo4 */
.volvo4 {
  z-index: -1;
  position: absolute;
  top: 360px;
  left: 1500px;
  width: 350px;
  height: 500px;
  object-fit: cover;
  object-position: -195px 0px;
  opacity: .4;
}

/* -------------------- six-screen */
.div-six-screen {
  position: relative;
  height: 1000px;
  width: 100%;
  left: 100%;
}

/* text contact */
.partners {
  position: absolute;
  top: 100px;
  margin: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  letter-spacing: 5px;
  user-select: none;
}

/* position text */
.partners-center {
  margin: 0px;
  text-align: center;
}

/* borgwarner */
.borgwarner-img {
  position: absolute;
  left: 400px;
  top: 350px;
  width: 300px;
}

/* hks */
.hks-img {
  position: absolute;
  left: 1100px;
  top: 400px;
  width: 350px;
}

/* plazmaman */
.plazmaman-img {
  left: 400px;
  top: 600px;
  position: absolute;
  width: 350px;
}

/* mastmotorsport */
.mastmotorsport-img {
  left: 1100px;
  top: 700px;
  position: absolute;
  width: 350px;
}

/* -------------------- seven-screen */
.div-seven-screen {
  position: relative;
  height: 1000px;
  width: 100%;
  left: 100%;
  background-color: black;
}

.contact {
  position: absolute;
  top: 100px;
  margin: 0px;
  width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
  user-select: none;
}

.text-contact1 {
  position: absolute;
  top: 300px;
  left: 550px;
  margin: 0px;
  min-width: 800px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  user-select: none;
}

.text-contact2 {
  position: absolute;
  top: 400px;
  left: 550px;
  margin: 0px;
  min-width: 800px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  user-select: none;
}

.text-contact3 {
  position: absolute;
  top: 500px;
  left: 550px;
  margin: 0px;
  min-width: 800px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  user-select: none;
}

.text-contact4 {
  position: absolute;
  top: 600px;
  left: 550px;
  margin: 0px;
  min-width: 800px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  user-select: none;
}